html, body {
 margin: 0;
 padding: 0;
 }
body {
 background-color: white; 
 font-family: Verdana, sans-serif; 
 font-size: 100%;
 }
h1 {
 font-size: 200%; 
 color: navy; 
 text-align: center;
 }
h2 {
 font-size: 150%; 
 color: red; 
 padding-left: 15px;
 }
p,ul,li,td {
 color: black; 
 }
a:link {
 color: green;
 text-decoration: underline;
 }
a:visited {
 color: gray;
 }
a:hover {
 color: red;
 text-decoration: none;
}
a:active, a:focus {
 color: red;
}

.calendrier {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  top: 0;
  width: 100%;
  text-align:center;
}

.calendrier-item {
  display: inline-block;
  list-style:none;
}

.calendrier-item a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.evenements {
  display: none;
}

.evenements:target {
  display: block;
  margin : 2%;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;

  text-align:center;
}

.menu .icon {
  display: none;
}

.menu-item {
	display: inline;
	/*float: left;*/
  list-style:none;
}

.menu-item a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-item a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

#plaquette {
	height : 50%;
	width : 50%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#logo {
	height : 15%;
	width : 15%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

header {
	background-color: green;
}

footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: green;
  text-align: center;
}

.footer {
	color: white !important;
}

/*form {
  /* Uniquement centrer le formulaire sur la page 
  margin: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40%;
  /* Encadré pour voir les limites du formulaire 
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}*/

form div + div {
  margin-top: 1em;
}

.coordonnees {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 20%;
  text-align: right;
}

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: 300px;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

#global
{
    width:100%;
}
#global #gauche
{
    float: left;
    width : 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
#global #droite
{
    margin-left: 60%;
}


 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .menu a {
    display: none;
  }
  .menu a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .menu.responsive {position: relative;}
  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 

#btnConnexion {
  margin : 0 auto;
}

.formConnexion {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40%;

  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}
